.container{
    position: relative;
    top: 70px;
    left: 205px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;

}

.video-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 150px;
    border-bottom: 1px solid grey;
}

.views-likes{
    display: flex;
    justify-content: space-between;
}

.likes{
    display: flex;
    align-items: center;
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-list{
    display: flex;
    gap: 5px;
}